@{
    ViewData["Title"] = "Home Page";
}

<div class="row" ng-app="APP" ng-controller="Home">

    <div class="col-md-12">

        <div class="col-md-11">
            <div class="form-group">
                <label>Uzun Linki Giriniz:</label>
                <input class="form-control" ng-model="_link.LongUrl" />
            </div>
        </div>
        <br />
        <div class="col-md-1">
            <button class="btn btn-primary" ng-click="GenerateShort()">Kısalt</button>
        </div>
        <br />
        <div class="col-md-12">
            <strong>Kısa Linkiniz:{{ShortLink}}</strong>
        </div>

    </div>
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Uzun Link</th>
                    <th>Kısa Link</th>
                    <th>Tıklama Sayısı</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Link in LinkList">
                    <td>{{Link.longUrl}}</td>
                    <td id="kopyala{{Link.shortUrl}}">https://localhost:7177/D/I?I={{Link.shortUrl}}</td>
                    <td>{{Link.clickCount}}</td>
                    <td><a><i ng-click="PreCopy(Link.shortUrl)" class="fa-solid fa-copy"></i></a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="msg"ng-show="Copied!=''" style="background-color:#00000059; height:auto; width:auto; position:absolute;bottom:10%;right:42%;text-align: center;" >
        Kopyalandı: {{Copied}}
    </div>


</div>


@section Scripts{
    <script src="~/js/Home.js"></script>
}
